<div style="display: flex;    flex-direction: column;    height: 100vh; margin: 0; padding: 0;">
    <div style="margin: 10px 0;">
        <button (click)="onBtnUpdate()">Show CSV export content text</button>
        <button (click)="onBtnExport()">Download CSV export file</button>
    </div>

    <textarea
            id="csvResult"
            placeholder="Click the Show CSV export content button to view exported CSV here"
    ></textarea>

    <ag-grid-angular
            style="height: 100%; margin: 16px; border: 1px solid lightgray;"
            [class]="themeClass"
            [enableAdvancedFilter]="true"
            [paginationPageSize]="10"
            [paginationPageSizeSelector]="paginationPageSizeSelector"
            [rowData]="rowData"
            [columnDefs]="colDefs"
            [autoSizeStrategy]="autoSizeStrategy"
            [defaultColDef]="defaultColDef"
            [pagination]="true"
            (gridReady)="onGridReady($event)"
            (cellValueChanged)="onCellValueChanged($event)"
    >
    </ag-grid-angular>
</div>
